# Node modules
node_modules/

# Logs
logs
*.log

# Dependency directories
vendor/

# Optional npm cache directory
.npm

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# Editor specific files
.vscode/
*.swp
*.swo

# Yarn integrity file
.yarn-integrity
